.populares {

    background:	black;
    font-size: large;
    font-family:courier;
    overflow: hidden;
    text-align: center;
    color: white;

}

.marquee1{
margin-left: 37%;
color:aqua;
}
audio{

  height: 23px;
  margin-bottom: 1px
}

.Peli1
{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli2{
  float: left;
  background-color: 	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli3{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli4{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
    margin-top: 5%
}
.Peli5{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli6{
  float: left;
  background-color: 	#282828;
    width: 100%;
margin-top: 5%;
  text-align: center;
  border-radius: 25px;
}
.mayorpuntaje{
  background:	black;
  font-size: large;
  font-family: courier;
  overflow: hidden;
  color: white;
  text-align: center;
}
.Peli7{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli8{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli9{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli10{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli11{
  float: left;
  background-color: 	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli12{
  float: left;
  background-color:	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.proximamente{
  background:	black;
  font-size: large;
  font-family: courier;
  overflow: hidden;
  color: white;
  text-align: center;
}
.Peli13{
  float: left;
  background-color: #282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli14{
  float: left;
  background-color:  	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli15{
  float: left;
  background-color:  	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli16{
  float: left;
  background-color:  	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli17{
  float: left;
  background-color:  	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
.Peli18{
  float: left;
  background-color:  	#282828;
  width: 100%;
  text-align: center;
  border-radius: 25px;
  margin-top: 5%
}
img.varias {
  width: 90%;
  height: 90vh;
  border-radius: 20px;
}
a.next{
      padding-top: 45%;
      color:#ff9933;
}
a.prev{
      left:0px;
      padding-top: 45%;
      color:#ff9933;
}
div.text{
}
div.numbertext{
  color: #0d0d0d;
  text-align: center;
  font-size: 35px;
}
h1.peli1,h1.peli2,h1.peli3,h1.peli4,h1.peli5,h1.peli6,h1.peli7,h1.peli8,h1.peli9,h1.peli10,h1.peli11,h1.peli12,h1.peli13,h1.peli14,h1.peli15,h1.peli16,h1.peli17,h1.peli18,{
  position: absolute;
  color: #ff9933;
}

/* CARROUSEL */
* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 20%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Caption text */
.text {
  color: #ff9933;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 93%;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
div.numbertext{
  color: black;
text-align: center;
font-size: 20px;
    right: 45%;
        top: 100%;
}
/* The dots/bullets/indicators */
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
