

div.generos{
  overflow: hidden;

  padding-top: 3%;
  background-color: #282828;

}

.gene{
  font-weight: bold;
  background-color: #d3d3d3;
  padding: 10px;
  border-radius: 40px;
  position: relative;
  margin-bottom: 4%;
  text-align: center;
  margin-left: 1%;
  font-family: sans-serif;
  margin-right: 1%;


}


a{
  text-decoration: none;
}


.genreclasss {
  font-size: 1.5em;
  color: black;
  font-family: courier;
}
