
img{

  width: 27%;
border-radius: 25px;
}
.posters{
    padding: 1%;
    font-weight: bold;
    font-family: inherit;
  background-color: black;
  color: white;
  /* position: relative; */

}

audio{

height: 23px;

}

.logo{
  width: 100%;
}

.newbusqueda{
  font-family:courier;
  font-size: medium;
  color:white;

}

a{
  text-decoration: none;
color:white;
text-align: center;
}

p{
margin: 0;
font-family: courier;
padding: 0;
text-align: center;


}

.tmdb{
  margin-left: 0
}

.lol{
  text-align: center;
  /* position: absolute;
  float: left; */
}
