
p{
  color: black;
}

article{
  overflow: hidden;

}

article img{
  width: 30%;
  float: left;
    padding: 1%;

}
article div{
  float: left;
  width: 70%;
    padding: 1%;
    font-weight: bold;
    font-family: inherit;


}
/*
main article {
  display: flex;
  flex-direction: row;
}
 */

.titleclass{
  font-size: 2em;
}

.taglineclass{
  font-style: italic;: 
}
