
p{
  color: white;
}

article{
  overflow: hidden;
  background-color: #282828
}

article img{
  width: 30%;
  float: left;
    padding: 1%;
  background-color: #282828
}
article div{
  float: left;
  width: 70%;
    padding: 1%;
    font-weight: bold;
    font-family: inherit;
  background-color: #282828
  color: white;

}
/*
main article {
  display: flex;
  flex-direction: row;
}
 */

.titleclass{
  font-size: 2em;
    font-family: sans-serif;
    color: white;
}

.taglineclass{
  font-style: italic;
  font-family: sans-serif;
  color: white;
}

.link-genero{
  text-decoration: none;
  color: white;
    font-family: sans-serif;
}

.link-otro{
  text-decoration: none;
  color: black;
}

p{

  font-family: sans-serif;
}

.ocultar{
display:none;
}

.mostrar{
  display: block;
}
