body {
  font-family: Arial, Helvetica, sans-serif;
    background-color: #555;
}

.main-nav a.mostrarMenu {
  display: none;
  right: 0;

}

.main-header{
  margin: auto;


  color: white;
  border-radius: 10px;
}

.main-nav {
  
  background-color: #333;
  position: relative;
}

.main-nav .links{

}

.main-nav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  position: absolute;
}

.main-nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
div.generos{
  width: 100%;
}

.main-nav a:hover {
  background-color: #ddd;
  color: black;
}

img .logg{
  background-color: #4CAF50;
  color: white;

}
ul{
  display: block;
}


@media only screen and (max-device-width: 600px) {
  .main-nav a {
    position: relative;
  }


    .main-nav a.mostrarMenu {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 10;
    }
    ul{
      position: relative;
      z-index: 1;

    }

    .main-nav ul{
      display: none;
    }
    .main-header{
      height: 170px;
    }
    div.generos{
      margin-bottom: 20%;
    }
    li.home{
      float: none;
      display: block;
      width: 100%;
    }
    form input{
      display: inline-block;
    }
    #li-form{
      display: inline;
    }



}
