


footer{

  position: relative;
  background-color: black;
  color: white;
height: 25vh;
}

.names {
font-family: sans-serif;
position: absolute;
top: 8vh;
left: 20vw;
}

.alumnos{
position: absolute;
font-family: sans-serif;
left: 20vw;
top: 2vh;

}

.tmdb{
position: absolute;
font-family: sans-serif;
max-width:125px;
width: 100%;
top: 3vh;
left: 1vw;

}
